trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  azureSubscription: 'ecommerce-svc'
  appName: 'ecommerce-webapp'

steps:
# Install .NET 8
- task: UseDotNet@2
  displayName: 'Install .NET SDK 8.0'
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

# Restore
- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

# Install EF Core CLI
- script: |
    dotnet tool uninstall --global dotnet-ef || echo not-installed
    dotnet tool install --global dotnet-ef --version 8.*
  displayName: 'Install EF Core CLI'

# Run EF Core Migration
- script: |
    dotnet ef database update --project WebApp.Model --startup-project WebApp.Controller
  displayName: 'Run EF Core Migration'
  env:
    ConnectionStrings__Web: "Server=tcp:ecommerce-db-server.database.windows.net,1433;Initial Catalog=EcommerceDB;Persist Security Info=False;User ID=dbadmin;Password=Anhtu@n100103;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"

# Build
- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

# Publish
- task: DotNetCoreCLI@2
  displayName: 'Publish'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true

# Deploy to Azure App Service
- task: AzureWebApp@1
  displayName: 'Deploy to Azure App Service'
  inputs:
    azureSubscription: $(azureSubscription)
    appType: 'webAppLinux'
    appName: $(appName)
    package: '$(Build.ArtifactStagingDirectory)/**/*.zip'
    appSettings: |
      -ConnectionStrings__Web "Server=tcp:ecommerce-db-server.database.windows.net,1433;Initial Catalog=EcommerceDB;Persist Security Info=False;User ID=dbadmin;Password=Anhtuan@100103;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
